+++
title = "DutchDomotics"
linkTitle = "DutchDomotics"

+++

{{< blocks/cover title="Welkom bij Dutch Domotics" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Configs and HowTos <i class="fas fa-microchip ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/blog" >}}">
		Blog <i class="	fas fa-pen-alt ml-2 "></i>
	</a>
	<p class="lead mt-5">Nederlandse Domotica Community!</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Dutch Domotics is een nederlandstalige Discord community

Hier delen we al onze ideeën en builds rondom alles wat te maken heeft met Domotica.
Deze site is een ondersteuning voor de community waar we onze tips & tricks, configs en kennis delen.
Gemaakt door een groep enthousiaste idioten.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Welkom!" %}}
Mis je onderdelen, zie je punten voor verbetering?  
Laat het ons weten! of help mee !

Kom op onze Discord of Fork ons op Github!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Help Mee!" url="https://github.com/DutchDomotics/dd-sitesrc" %}}
Fork ons, edit en doe een [Pull Request](https://github.com/DutchDomotics/dd-sitesrc/pulls) op **GitHub**. Nieuwe toevoegingen zijn altijd welkom!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-discord" title="Onze Discord!" url="https://discord.gg/hpE4HYg5" %}}
Deel, inspireer, wordt geinspireerd!  
Praat mee!
{{% /blocks/feature %}}


{{< /blocks/section >}}

